.specs {
    padding: 1rem 0;
    height: 100%;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.specs__container {
    height: 100%;
}

.specs__container h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.specs__container p {
    font-size: 1rem;
}