.suppliers {
    margin-bottom: 1rem;
}

.suppliers__container {
    display: flex;
    flex-direction: column;
}

.suppliers__container h1{
    margin-bottom: 0.5rem;
}

.suppliers__container__flex {
    display: flex;
}

.suppliers__container__flex div {
    width: 30%;
    height: 5rem;
    margin-right: 3%;
    background-color: var(--normalAzul);
}